{% extends 'rango/admin_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Operator-Homepage
{% endblock %}  

{% block body_block %}

        <!-- admin index page , just show three url     -->
<h1>Admin index page.</h1>
<a href="{% url 'rango:admin_add_operator' %}">ADD {{ operator_style }}</a>
<a href="{% url 'rango:admin_modify_user'  operator_style  %}">Modify {{ operator_style }}</a>
<a href="{% url 'rango:admin_modify_user'  user_style  %}">Modify {{ user_style }}</a>

{% endblock %}

