{% extends 'rango/admin_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Operator-Homepage
{% endblock %}  

{% block body_block %}
        
<!--  modify operator and user use this page together,so it must identify whic role of user is posted in    -->
        <h1>{{ role }}</h1>
        {% if users %}
            {% for user in users %}
            <div class="card mt-3" id="card" onmouseover="this.style.backgroundColor = 'rgb(240,240,240)'" onmouseout="this.style.backgroundColor = 'white'">
                <div class="row">
                    <div class="col-2">
                        <img src="{{MEDIA_URL}}{{user.picture}}" alt="{{user.user.username}}" id="image"/>
                    </div>
                    <div class="col-10 p-4">
                        <h3>NAME: {{ user.user.username }}</h3>
                        <h5 id="info1">age: {{  user.age }}</h5>
                        <h5 id="info1">gender: {{  user.gender }}</h5>

                        <form method="POST" action="{% url 'rango:admin_delete_user' user.user.username %}">
                            {% csrf_token %}
                            <input type="submit" value="delete" onclick="myalert()" class="btn btn-danger" />
                        </form>

                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <strong>There are no{{ role }}..</strong><br />
        {% endif %}

{% endblock %}
