{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if author %}
        {{ author.name }}
    {% else %}
        Unknown Author
    {% endif %}
{% endblock %}    

{% block body_block %}

    {% if author %}
        <h2>{{ author.name }}</h2>
        {% if books %}
            {% for book in books %}
            <div class="card mt-3" onmouseover="this.style.backgroundColor = 'rgb(240,240,240)'" onmouseout="this.style.backgroundColor = 'white'">
                <div class="row">
                    <div class="col-2">
                        <img src="{{MEDIA_URL}}{{book.image}}" alt="{{book.title}}" style="height:170px; width: 100px; object-fit: contain; margin: 15px;"/>
                    </div>
                    <div class="col-10 p-4">
                        <h3>{{ book.title }}</h3>
                        <h5 style="color: grey;">{{book.author}}</h5>
                        <p style="color: lightgrey;">{{book.introduction}}</p>
                        <a type="button" class="btn btn-primary" href="{% url 'rango:show_book' book.slug %}">Detail</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <strong>No books wirrten by this author.</strong><br />
        {% endif %}
    {% else %}
        The specified author does not exist!
    {% endif %}

{% endblock %}
        
        
    
