<!DOCTYPE html>
 {% load staticfiles %}
 {% load rango_template_tags %}
 <html>
    <head lang="en">  
        <meta charset="UTF-8" />
        <title>
            Rango-
            {% block title_block %}
                How to Tango with Django!
            {% endblock %}
        </title>
        <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static 'javascript/base.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <!-- select button -->
        <div>
            <a href="{% url 'rango:index' %}">HOME PAGE</a>
            {% if user.is_authenticated %}
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
            <a href="{% url 'rango:my_favorite' user.username %}">Favorite Books</a>
            {% endif %}
        </div>

        <!-- login/register button -->
        <div>
            {% if user.is_authenticated %}
                Hello: {{ user.username }}!
                <a href="{% url 'rango:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'rango:login' %}">Login</a> |
                <a href="{% url 'rango:register' %}">No account? Register Now</a>
            {% endif %}
        </div>

        <div>
            <form id="search_form" method="get" action="{% url 'rango:search' %}">
                {% csrf_token %}
                Title Name: <input type="text" id="search-text" name="title" placeholder="book title" size="50" />
                <input type="submit" value="search" name = "search"/>
            </form>
            <!--此处有内联css-->
            <div id='search-list' style="z-index: 2; left: 85px; top: 80px; position: absolute; background-color: #fff;">
                <p><span id='search-result'></span></p>
            </div>
        </div>

        <div>
            {% block topbar_block %}
                {% get_category_list category %}
                {% get_author_list author %}
            {% endblock %}
        </div>

        <div>
            {% block body_block %}

            {% endblock %}
        </div>
     
    </body>
 </html