{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if book %}
        {{ book.title }}
    {% else %}
        Unknown Book
    {% endif %}
{% endblock %}    

{% block body_block %}

    {% if book %}
    <h1>{{ book.title }}</h1>
    <img src="{{MEDIA_URL}}{{book.images}}" alt="{{book.title}}" />
    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <p>{{book.introduction}}</p>
    <h5>{{book.author}}</h5>
        {% if user.is_authenticated %}
        <a href="{{ book.url }}">{{ book.title }}</a>
        {% else %}
        <h5>Please login to see the whole content of the book.</h5>
        {% endif %}
        {% if comments %}
        <ul>
            {% for comment in comments %}
            <h4>{{ comment.user }}</h4>
            <h5>{{ content.score }}</h5>
            <h6>{{ comment.date }}</h6>
            <p>{{ comment.content }}</p>
            {% endfor %}
        </ul>
    {% else %}
    <strong>The specified book does not exist!</strong><br />
    {% endif %}

{% endblock %}
        
        