{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}  

{% block body_block %}


        <form >
            <input tyepe="submit" class="btn btn-primary" value= "{{ user.username }}" />
        </form>
        <div>
        {% if books %}
            <strong>TOP 5 popular books</strong> 
            {% for book in books %}
            <img src="{{MEDIA_URL}}{{book.image}}" alt="{{book.title}}" />
            <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <a href="{% url 'rango:show_book' book.slug %}">{{ book.title }}</a>
            <p>{{book.introduction}}</p>
            <h5>{{book.author}}</h5>
            <hr />
            {% endfor %}
        {% else %}
            <strong>There are no books present.</strong>
        {% endif %}
        </div>

        <div>
        {% if authors %}
            <strong>TOP 5 popular authors</strong> 
            {% for author in authors %}
             <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                <a href="https://www.baidu.com">{{ author.name }}</a>

            {% endfor %}
        
        {% endif %}
        </div>

        <div>
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
        </div>

{% endblock %}