{% extends 'rango/operator_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Operator-Homepage
{% endblock %}  
<!--  operator homepage, show all category, have a delete button to delete category,   -->
{% block body_block %}

        <h1>Manage Category</h1>
        <div class="card p-2">
            {% if categories %}
            <table class="table table-hover table-borderless">
                <tbody>
                    {% for c in categories %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a href="{% url 'rango:operator_show_category' c.slug %}">{{ c.name }}</a></td>
                        <td>
                            <form action="{% url 'rango:operator_delete_category' c.slug%}">
                                <input type="submit" value="Delete" class="btn btn-outline-danger"/>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <li>There are no categories present.</li>
            {% endif %}
            <!--   a link to add a category  -->
            <a href="{% url 'rango:add_category' %}" type="button" class="btn btn-primary">Add a New Category</a>
        </div>

{% endblock %}