{% extends 'rango/base.html' %}
{% load staticfile %}

{% block title_block %}
    Register
{% endblock %}


{% block body_block %}
    <div class="card p-5">
        <h1>Register for Rango</h1>
    {% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
    {% else %}
        <form id="user_form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{ user_form.as_p }}
            </div>
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register" class="btn btn-primary"/>
        </form>
        </div>
    {% endif %}
    </div>
{% endblock %}